body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
  }
  .header_block-only{
    background-image: url('../../assets/images/start-screen-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
    .context-block{
      max-width: 1280px;
      margin: 0 auto;
      padding-left: 3.13vw;
      padding-right: 3.13vw;
    }
    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 4.9vw;
      padding-bottom: 2.98vw;
    }
    .logo_link{
        cursor: pointer;
        text-decoration: none;
    }
  .logo{
    margin: 0;
    margin-bottom: 0.48vw;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
  }
  .logo_subscribe{
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
  nav{
    /* width: 522px; */
    width: 40.69vw;
  }
  .nav{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: end;
    margin: 0;
    padding-top: 0.55vw;

  }
  .nav_item{
    margin: 0;
    margin-left: 1.58vw;
  }
  .nav_item:hover{
      content: '';
  }
  .nav_item a{
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    position: relative;
    cursor: pointer;
  }
  a.active{
      display: block;
      border-bottom: 3px solid #F1CDB3;
      
  }
  .nav_item a:after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #F1CDB3;
    content: '';
    transition: width 0.3s ease-out;
  }
  .nav_item a:hover::after,
  .nav_item a:focus::after{
      width: 100%;
  }
  .block-only{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .block-only_item{
      width: 35.94vw;
      padding-top: 14.53vw;
  }
  h2{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 1.99vw; 
  }
  .block-only_text{
    margin: 0;
    padding-top: 0.98vw;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #CDCDCD;
    padding-bottom: 3.2vw;
  }
  .block-only_button{
    width: 16.17vw;
    padding: 1.09vw 0;
    background: #F1CDB3;
    border-radius: 20.83vw;
  }
  .block-only_button:hover{
      background-color: #ecb38a;
  }
  .block-only_button a{
      text-decoration: none;
      font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
  }
  
  .block-only_img{
    padding-top: 1.8vw;
      height: 95.5%;
  }
  .about{
      display: flex;
      justify-content: center;
      padding-top: 6.25vw;
      padding-bottom: 7.81vw;
  }
  .about_item{
      margin-left: 9.7vw;
      width: 33.59vw;
  }
  
  h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    /* padding-top: 1.2vw; */
  }
  .about_item h3{
    padding-top: 1.0vw;
  }
  .about_text1{
    margin: 1.45vw 0 1.95vw 0;
  }

  .about_text2{
    margin: 0;
  }
  .about_text1,
  .about_text2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 128%;
    color: #4C4C4C;
  }
  .about_text2{
    line-height: 125%;
  }
  .pets{
    background: #F6F6F6;
  }
  .pets_block{
    padding-top: 5.8vw;
    padding-bottom: 7.81vw;
  }
  .pets_tittle{
      text-align: center;
      padding-bottom: 4.39vw;
  }
  .slider{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .button_slider{
    padding-bottom: 4.7vw;
  }
  .slider_button{
    width: 4.06vw;
    height: 4.06vw;
      border: 2px solid #F1CDB3;
      box-sizing: border-box;
      border-radius: 7.81vw;
      color: black;
      background-color: #F6F6F6;
  }
  .slider_button:active,
  .slider_button:hover{
    background-color: #F1CDB3;
  }
  .pets_slider{
      display: flex;
      padding: 0 0 4.69vw;
      justify-content: space-between;
  }
  .pets_slider_item{
      background-color: #FAFAFA;
      text-align: center;
      margin-right: 7.03vw;
  }
  .pets_slider_item img{
    width: 100%;
  }
  .pets_slider_item:last-child{
      margin-right: 0;
  }
  .pets_slider_item:hover,
  .pets_slider_item:hover .pets_button {
      cursor: pointer;
      background-color: rgb(241, 205, 179, 0.5); 
  }
  h4{
    margin: 0;
    padding: 2.24vw 0;
    text-align: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
  }
  .pets_button{
      width: 14.61vw;
      padding: 1.10vw 0;
      border: 2px solid #F1CDB3;
      background-color: #FAFAFA;
      border-radius: 7.81vw;
      margin-bottom: 2.34vw;
      font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }
  .get_to_know_button{
    text-align: center;
  }
  .second_pets_button{
      width: 20.39vw;
      background-color: #F1CDB3;
      border-radius: 7.81vw;
      border: none;
      padding: 1.0vw 0;
      font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }
  .second_pets_button:active,
  .second_pets_button:hover{
    background-color: #ecb287;
  }
  .second_pets_button a{
      text-decoration: none;
      font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
  }
  .help_tittle{
    padding-top: 0;
  }
  .help{
      padding-top: 6.25vw;
      padding-bottom: 7.81vw;
      text-align: center;
  }
  .help_gallary{
    margin: 0 auto;
      padding: 4.69vw 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items:center;
      width: 1040px;
  }
  .help_item{
      margin: 0 6.65vw 0 0;
      padding-bottom: 55px;
  }
  .help_item:nth-child(5){
  margin-right: 0;
  }
  .help_item:nth-child(6),
  .help_item:nth-child(7),
  .help_item:nth-child(8),
  .help_item:nth-child(9){
      padding-bottom: 0;
  }
  .help_item:nth-child(6){
      margin: 0;
      margin-left: 6.65vw;
  }
  .help_item:nth-child(7),
  .help_item:nth-child(8){
    margin: 0;
    margin-left: 1.2vw;
  }
  .help_text{
      padding-top: 1.53vw;
      margin: 0;
      font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
text-align: center;
letter-spacing: 0.06em;
color: #545454;
  }
  .in_addition{
      background-color: #F6F6F6;
  }
  .addition{
    padding-top: 6.25vw;
    padding-bottom: 7.81vw;
    display: flex;
    justify-content: center; 
  }
  .in_addition_img{
    padding-top: 0.9vw;
      margin-right: 2.84vw;
  }
  .in_addition_item{
      width: 29.69vw;
  }
  .in_addition_item h3{
    margin: 0;
    padding-top: 0;
  }
  .name_bank{
      margin: 1.38vw 0 1.48vw;
      font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
align-items: center;
letter-spacing: 0.06em;
color: #545454;
  }
  .card_item{
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 0.70vw;
    width: 27.27vw;
    padding: 0.58vw 0;
    background-color: #F1CDB3;
  }
  .card_item img{
    padding-left: 1.2vw;
  }
  .card{
      margin: 0;
      margin-left: 0.3vw;
  }
  .card_item:hover{
      background-color: #f0b891;
  }
  .card a{
      text-decoration: none;
      font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
align-items: center;
letter-spacing: 0.06em;
color: #545454;
  }
  .info{
      margin: 1.56vw 0 0 0;
      font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
align-items: center;
color: #B2B2B2;
  }
  footer{
    background-image: url('../../assets/images/footer-gradient-background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-block{
      padding-top: 3.13vw;
      display: flex;
      justify-content: space-between;
  }
  .footer_tittle{
      color: white;
  }
  .footer_contacts{
      padding-top: 1.29vw;
      width: 21.88vw;
  }
  .footer_adress{
      padding-top: 1.29vw;
      width: 23.59vw;
  }
  .email{
      margin: 3.13vw 0;
      display: flex;
      align-items: center;
  }
 
  .email_adress{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 0.34vw;
    text-align: center;
  }
  .email_adress a{
      text-decoration: none;
      width: 100%;
      text-decoration: none;
      font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: center;
  }
  .tel{
      display: flex;
      align-items: center;
  }
  .location{
      margin: 2.19vw 0 2.50vw;
  }
  .footer_img{
    height: 100%;
}
/* @font-face {
    font-family: 'Georgia'; 
    src: url("/shelter/assets/fonts/georgia/georgia-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
    @font-face{
        font-family: 'Georgia';
        src: url("/shelter/assets/fonts/georgia/georgia-italic.ttf") format("truetype");
        font-style: normal; 
        font-weight: normal; 
        }
        @font-face{
            font-family: 'Georgia';
            src: url("/shelter/assets/fonts/georgia/georgia-italic.ttf") format("truetype");
            font-style: normal; 
            font-weight: normal; 
            }
            @font-face{
                font-family: 'Arial';
                src: url("/shelter/assets/fonts/arial/arial-regular.ttf") format("truetype");
                font-style: normal; 
                font-weight: normal; 
                }
                @font-face{
                    font-family: 'Arial';
                    src: url("/shelter/assets/fonts/arial/arial-italic.ttf") format("truetype");
                    font-style: normal; 
                    font-weight: normal; 
                    } */